@{
    Layout = "_Layout";
}

<div class="container py-5">

    <div class="text-center mb-5">
        <h1 class="display-5 fw-bold">Centro de Controle</h1>

        <p class="lead text-secondary">
            Selecione o módulo que deseja gerenciar.
        </p>
    </div>

    <div class="row g-4 justify-content-center">

        <div class="col-md-6 col-lg-4">
            <a class="btn btn-outline-primary w-100 py-4 fs-5"
               asp-controller="Fornecedores"
               asp-action="Listar">
                Fornecedores
            </a>
        </div>

        <div class="col-md-6 col-lg-4">
            <a class="btn btn-outline-primary w-100 py-4 fs-5"
               asp-controller="paciente"
               asp-action="listar">
                Pacientes
            </a>
        </div>

        <div class="col-md-6 col-lg-4">
            <a class="btn btn-outline-primary w-100 py-4 fs-5"
               asp-controller="Medicamentos"
               asp-action="Listar">
                Medicamentos
            </a>
        </div>

        <div class="col-md-6 col-lg-4">
            <a class="btn btn-outline-primary w-100 py-4 fs-5"
<<<<<<< HEAD
               asp-controller="funcionarios"
               asp-action="listar">
=======
               asp-controller="Funcionario"
               asp-action="Listar">
>>>>>>> 1b1c5a7a94d5b0aa061d223ae981796733f28d67
                Funcionários
            </a>
        </div>

        <div class="col-md-6 col-lg-4">
            <a class="btn btn-outline-primary w-100 py-4 fs-5"
               asp-controller="Estoque"
               asp-action="Listar">
                Estoque
            </a>
        </div>

    </div>

</div>