@{
    Layout = "_Layout";
}

@model ExcluirMedicamentosViewModel

<div class="container d-flex justify-content-center align-items-center"
     style="min-height: calc(112vh - 120px);">

    <form class="card border-0 shadow-lg p-4 rounded-4 w-100"
        style="max-width: 620px;"
        asp-action="Excluir"
        asp-route-id="@Model.Id"
        method="post">

        <input asp-for="Id" type="hidden">

        <h2>Exclusão de Medicamentos</h2>

        <div class="alert alert-warning 12px" role="alert">
            Deseja realmente excluir esse Fornecedor?
        </div>

        <div class="mb-4">
            <label asp-for="Nome" class="form-label fw-semibold">Nome</label>
            <input asp-for="Nome" type="text" class="form-control form-control-lg rounded-3 shadow-sm" readonly>
            <span asp-validation-for="Nome" class="text-danger small"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Descricao" class="form-label fw-semibold">Descricao</label>
            <input asp-for="Descricao" type="text" class="form-control form-control-lg rounded-3 shadow-sm" readonly>
            <span asp-validation-for="Descricao" class="text-danger small"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Quantidade" class="form-label fw-semibold">Quantidade</label>
            <input asp-for="Quantidade" type="text" class="form-control form-control-lg rounded-3 shadow-sm" readonly>
            <span asp-validation-for="Quantidade" class="text-danger small"></span>
        </div>

        <div class="mb-4">
            <label asp-for="FornecedorNome" class="form-label fw-semibold">Fornecedor</label>
            <input asp-for="FornecedorNome" type="text" class="form-control form-control-lg rounded-3 shadow-sm" readonly>
            <span asp-validation-for="FornecedorNome" class="text-danger small"></span>
        </div>

         <div class="d-flex justify-content-end gap-3 mt-4">
            
            <a class="btn btn-outline-secondary rounded-pill"
               asp-action="Listar">
                Voltar
            </a>

            <button type="submit" class="btn btn-outline-danger rounded-pill">
                Excluir
            </button>

        </div>

    </form>
</div>